

#home{
    background-image: url(https://bit.ly/2tgdS1x);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
    text-align: center;
    
    
}
h1{
    font-family: 'Carter One', cursive;
    font-size: 90px;
    padding-bottom: 15%;
}
.home-page p{
    font-family: monospace;
    font-size: 30px;
    padding-bottom: 15%;
    color: black;
}
.brand h3{
    font-family: 'Italianno', cursive;
}
h2{
    color: black;
    text-align: center;
}
#about{
    font-size: 20px;
    text-align: center;
}
#about li{
    list-style-type: none;
}
#about h3, #menu h3{
    color: black;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
#menu img {
    height: 200px;
}

